<% content_for :title do %>Kinley Drukpa<% end %>
<% content_for :description do %>Website of Kinley (the cat) Drukpa<% end %>
<section>
	<!-- <img src="http://lorempixel.com/1170/600/cats/1"> -->
	<%= image_tag "kinely_blanket_cropped.jpg" %>
</section>
<section>
	<div class="column">
		<h2>Hello!</h2>
		<p>Do you love Kinley? Do you want weekly photos of Kinley delivered directly to your email? Great! Sign up for the Kinley newsletter!
	</div>
	<div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
				<br />
				<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
			<% end %>
		</div>
	</div>
</section>

