<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>
<p>Have questions or comments about Kinley? Send them here!</p>
<div class="form">
	<%= simple_form_for @contact do |form| %>
		<%= form.error_notification %>
		<%= form.input :name, autofocus: true %>
		<%= form.input :email %>
		<%= form.input :content, as: :text %>
		<%= form.button :submit, 'Submit', class: 'submit' %>
	<% end %>
</div>